.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h2 {
  color: red;
}
h3 {
  color: green;
}


button {
  color: white;
  background-color: darkolivegreen;
  width: 50px;
}
button:hover{
  cursor: pointer;
  background-color: darkgreen;
}

